body {
  margin: 0;
  overflow: hidden;
  background-color: #222;
}

#app {
  width: 100vw;
  height: 100vh;
  display: block;
}

/* Some lil-gui specific customizations */
.lil-gui {
	--name-width: 30%;  /* Narrower names to fit better on mobile */
}
